/*==================================================================
	page.css
===================================================================*/
/* Home page
-------------------------------------------------------------------*/
#homepage .section .heading{
	min-height: 80px;
	text-align: center;
}
#homepage .section .sub-heading{
	text-transform: uppercase;
}
.no-border-left{
	border-left: none;
}
.no-border-right{
	border-right: none;
}

/* Organic page
-------------------------------------------------------------------*/
#organic-gardening #main{
	padding: 35px 18px;
	text-align: justify;
}
#organic-gardening .heading{
	padding-bottom: 25px;
}
#organic-gardening .sub-heading{
	padding-bottom: 20px;
}
