/*==================================================================
	page.css
===================================================================*/
/* Home page
-------------------------------------------------------------------*/
#homepage .section{
	width: 33.33%;
	border-left: 1px solid white;
	border-right: 1px solid #cec4b0;
}
#homepage .section .heading{
	min-height: 80px;
	text-align: center;
}
#homepage .section .sub-heading{
	text-transform: uppercase;
}
#homepage .section p{
	padding-top: 5px;
}
.no-border-left{
	border-left: none;
}
.no-border-right{
	border-right: none;
}

/* Organic page
-------------------------------------------------------------------*/
#organic-gardening .sub-heading{
	padding-bottom: 20px;
}
#organic-gardening .section img{
	float: left;
	width: 45%;
	margin-right: 18px;
}
#organic-gardening .section p{
	padding-bottom: 25px;
}