
/* ******************************************************************
	--structure.css--
****************************************************************** */
/*==================================================================
	1. Style setting
===================================================================*/
/* ------------------------------------------------------------------
	1-1. Common styles
-------------------------------------------------------------------*/
html {overflow-y: scroll; color: black; background: url(../img/bg-body.png);}
a:link, a:visited {color: #7c6b4f; text-decoration: underline;}
a:hover, a:active {color: #164773; text-decoration: underline;}
body {
	font: 14px/1em Arial, Helvetica, sans-serif;
	background-color: #e8e0d0;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	word-wrap: break-word;
	overflow: hidden;
}
select, input, button, textarea, button {font: 1em/1 Helvetica, Arial, sans-serif;}
table {
	font: 100%;
	font-size: inherit;
}
pre, code, kbd, samp {
	font-family: monospace;
	line-height: 1;
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
}
/* ------------------------------------------------------------------
	1-2. Headline styles
-------------------------------------------------------------------*/
.heading {
	font: bold 2em/1.3 "Times New Roman", Helvetica, Arial, sans-serif;
	color: #164773;
	text-shadow: 0px 1px white;
	text-transform: uppercase;
}
.heading a {
	color: #164773;
	text-decoration: none;
}
.heading a:hover {
	background: url(../img/bg-heading-x.png) repeat-x center bottom;
}

.sub-heading{
	font: bold 1.2em "Times New Roman", Helvetica, Arial, sans-serif;
	color: #423319;
	text-transform: uppercase;
}

.heading-aside{
	padding: 0 0 5px 10px;
	font: bold 1.4em "Times New Roman", Helvetica, Arial, sans-serif;
	color: #164773;
}
/*==================================================================
	2. Layout setting
===================================================================*/
/* ------------------------------------------------------------------
	2-1. Base styles
-------------------------------------------------------------------*/
/* -----
	form
------- */

/* -----
	button
------- */
.button-wrapper{
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center;
}
.button{
	display: inline-block;
	padding: 0px 10px;
	margin: 0px auto;
	background: url(../img/button-bg.png) left center repeat-x;
}
.button a{
	display: block;
	padding: 3px 22px;
	color: #7c6b4f;
	text-decoration: none;
	background-color: #ece3d4;
	border-top: 1px solid #c3b9a7;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: 0.5s ease;
	   -moz-transition: 0.5s ease;
	    -ms-transition: 0.5s ease;
	     -o-transition: 0.5s ease;
	        transition: 0.5s ease;
}
.button a:hover{
	color: white;
	text-decoration: none;
}

/* -----
	input
------- */

/* ------------------------------------------------------------------
	2-2. Header styles
-------------------------------------------------------------------*/
#header{
	padding-top: 60px;
	text-align: center;
}
.logo img{
	max-width: 100%;
}
/* ------------------------------------------------------------------
	2-3. Navi styles
-------------------------------------------------------------------*/
.nav{
	padding: 12px 0 15px;
	text-align: center;
}
.nav a{
	display: inline-block;
	margin: 5px;
	padding: 7px 15px;
	color: #164773;
	text-decoration: none;
	text-transform: capitalize;
	background-color: #faf4e8;
	border: 1px solid white;
	box-shadow: 1px 1px 3px #c2b79f;
	-webkit-transition: 0.3s ease;
	   -moz-transition: 0.3s ease;
	    -ms-transition: 0.3s ease;
	     -o-transition: 0.3s ease;
	        transition: 0.3s ease;
}
.nav a:hover, .nav .active{
	color: white;
	text-decoration: none;
	background-color: #1e3347;
	border: 1px solid #1e3347;
	box-shadow: none;
}

/* ------------------------------------------------------------------
	2-4. Main styles
-------------------------------------------------------------------*/
#wrapper{
	background: url(../img/bg-top-page.png) repeat-x, url(../img/shape.png) no-repeat center 23px;
}
#container{
	max-width: 960px;
	margin: 0 auto;
}
#main{
	padding: 1px 0 10px 0;
	min-height: 700px;
	overflow: hidden;
	background-color: #f7f0e5;
	box-shadow: 0 0 3px #c2b79f;
}

/* ------------------------------------------------------------------
	2-5. Side styles
-------------------------------------------------------------------*/
#aside{
	overflow: hidden;
	padding: 20px 0;
	clear: both;
}
.section1{
	float: left;
	width: 25%;
	padding: 10px;
}
.section1 .inner{
	position: relative;
	height: 250px;
	padding: 10px;
	color: #91846f;
	overflow: hidden;
	text-shadow: 0px 1px white;
	background-color: #fdf7ee;
	box-shadow: 0px 0px 3px #e0d6c5;
}
.section1 .inner p{
	line-height: 1.4em;
}
.corner-img{
	position: relative;
	bottom: -20px;
	left: -20px;
	max-width: 100%;
	-webkit-transform: rotate(-5deg);
	   -moz-transform: rotate(-5deg);
	    -ms-transform: rotate(-5deg);
	     -o-transform: rotate(-5deg);
	        transform: rotate(-5deg);
}
.section1 .inner .content strong{
	display: block;
	margin-bottom: 10px;
	color: #7c6b4f;
}
.galery-img{
	max-width: 100%;
	margin-bottom: 10px;
	border: 1px solid #e1d8c4;
}
.author{
	font-size: 0.85em;
	font-style: italic;
}
.section1 .inner .link-aside{
	position: absolute;
	right: 10px;
	bottom: 10px;
	font-size: 0.85em;
	color: #aea18d;
	text-decoration: none;
	text-shadow: 0px 1px white;
}
.section1 .inner .link-aside:hover{
	color: #aea18d;
	text-decoration: underline;
}
.supplier-list dt{
	padding-bottom: 5px;
	font-weight: bold;
	line-height: 1.5em;
	color: #7c6b4f;
}
.supplier-list dd {
	padding-bottom: 10px;
	font-size: 0.85em;
	line-height: 1.7em;
}
.supplier-list dd span{
	display: block;
	font-size: 1.3em;
}
.info-text{
	padding-bottom: 25px;
}
.info-text span{
	display: block;
	line-height: 1.8em;
	text-align: justify;
}

/* ------------------------------------------------------------------
	2-6. Footer styles
-------------------------------------------------------------------*/
#footer{
	overflow: hidden;
	padding-top: 50px;
	padding-bottom: 50px;
	font-family: "Times New Roman", Helvetica, Arial, sans-serif;
	color: #9a8e79;
	background: url(../img/bg-top-footer.png) repeat-x top, url(../img/bg-body.png);
}
#footer .inner{
	max-width: 960px;
	margin: 0px auto;
}
.left-box {
	float: left;
	padding-left: 20px;
}
.left-box a{
	color: #9a8e79;
	text-decoration: none;
}
.left-box a:hover{
	color: #164773;
	text-decoration: underline;
}
.copyright{
	float: right;
	padding-right: 20px;
}
