/* ******************************************************************
	--home-page--
****************************************************************** */
#homepage .section .heading{
	min-height: 80px;
	text-align: center;
}
#homepage .section .sub-heading{
	text-transform: uppercase;
}
.no-border-left{
	border-left: none;
}
.no-border-right{
	border-right: none;
}